.header {
  @apply h-304px bg-gray;
}

.header::after {
  @apply content-none w-;
}

.nav {
  box-shadow: inset 0px -1px 0px rgb(242 243 247 / 16%);
}

.link {
  @apply decoration-none flex items-center text-white;
}

.link.active::after, .link:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.link::after {
  transform: scaleX(0);
  transform-origin: bottom right;
  @apply absolute h-2px -bottom-18px left-0px content-none w-full;
  background: linear-gradient(248.86deg, #B6509E 10.51%, #2EBAC6 93.41%);
  transition: transform 0.25s ease-out;
}

.button {
  background: rgba(255, 255, 255, 0.5);
}