.fui-toggle {
  @apply relative box-border inline-grid items-center justify-center w-36px h-20px mx-4px my-0 cursor-pointer;
}

.fui-toggle > input {
  @apply display-none;
}

.fui-toggle > label {
  @apply inline-grid box-border items-center outline-none select-none w-36px h-20px bg-#8e92a3 rounded-full;
}
.fui-toggle > label:before {
  @apply content-none block absolute rounded-full w-32px h-16px bg-#8e92a3 left-2px;
}
.fui-toggle > label:after {
  @apply content-none block absolute w-16px h-16px rounded-full bg-#fff transition duration-400ms ease-out ml-4px;
}

.is-checked > label {
  @apply bg-#4caf50;
}
.is-checked > label:before {
  @apply bg-#4caf50;
}
.is-checked > label:after {
  @apply transition duration-200ms ease-out ml-[calc(100%-18px)];
}

.is-disabled > label {
  @apply !bg-#eee cursor-default;
}
.is-disabled > label:before {
  @apply !bg-#eee;
}
.is-disabled > label:after {
  @apply !shadow-none !bg-#fff;
}

