html {
    font-family: 'Inter';
    font-display: swap;
    scroll-behavior: smooth;
}

@font-face {
    font-family: 'Inter';
    src: url('./assets/fonts/Inter-Regular.woff2') format('woff2');
    font-style: normal;
    font-weight: normal;
    font-display: auto;
}

@font-face {
  font-family: 'Inter';
  src: url('./assets/fonts/Inter-SemiBold.woff2') format('woff2');
  font-style: normal;
  font-weight: 600;
  font-display: auto;
}

@font-face {
    font-family: 'Inter';
    src: url('./assets/fonts/Inter-Bold.woff2') format('woff2');
    font-style: normal;
    font-weight: 700;
    font-display: auto;
}

@font-face {
  font-family: 'MuseoModerno';
  src: url('./assets/fonts/MuseoModerno-SemiBold.woff2') format('woff2');
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: 'MuseoModerno';
  src: url('./assets/fonts/MuseoModerno-ExtraBold.woff2') format('woff2');
  font-style: normal;
  font-weight: 800;
}

body {
  @apply m-0 p-0 overflow-hidden bg-#F1F1F3;
}

.main-scroller {
  @apply w-100vw h-100vh overflow-x-hidden;
}

.main-scroller > .scrollbar__content {
  @apply overflow-x-hidden;
}

.scrollbar__thumbPlaceholder--horizontal {
    @apply !display-none;
}

.scrollbar__thumbPlaceholder--vertical {
    @apply display-none sm:block;
}

.scrollbar__thumb {
  @apply bg-white;
}


ul, ol {
  padding-inline-start: 0;
  padding-inline-start: 0;
}

p {
  margin-block-start: 0;
  margin-block-end: 0;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none !important;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}


/* :root {
  --card-shadow: 0px 4px 20px rgba(42, 61, 74, 0.1), 0px 40px 106px 11px rgba(159, 234, 225, 0.15);
} */

.dropdown-shadow {
  box-shadow: 0px 0px 2px rgb(0 0 0 / 20%), 0px 2px 10px rgb(0 0 0 / 10%);
}